table tr td{
    border: 1px solid #ccc;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
h1{
    font-family:"Roboto", sans-serif;
    color: blueviolet;
    font-size:30px;
    font-weight:800;
    font-style:italic;
    text-align: center;
    margin: 10px;
    padding: 10px;
    border: 10px, solid, black;
    width: auto;
    height: auto;
    box-sizing: border-box;
    display: flex;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    background-image:url("./img/Gamma.png");
    background-repeat:no-repeat;
    background-size:60px;
}

#vtc{
    color: green;
}

.TEXT{
    text-align: center;
}

a[href]{
    text-decoration: none;
}
a[href]:hover{
    color:blue;
}

section > h2{
    color: darkgoldenrod
}

nav a:visited{
    color: skyblue;
}

input[type="button"]:disabled {
    background-color: #ccc; 
    cursor: not-allowed; 
}

p:nth-of-type(even){
    font-weight:600;
}

#last{
    display: flex;
    background-color: black;
    color:white;
    height:50px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index:10;
    transition: background-color, 2s, ease-in,2s;
}

#last:hover{
    background-color:blue;
}

td img{
    width:100px;
    height:100px;
}
.img-container{
    display:grid;
    grid-gap:10px;
    margin:0 auto;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    padding: 20px;
    text-align: center;
}

@media only screen and (max-width:520px){
    .img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .img-container img{
        max-width:50%;
    }
}

@media only screen and (min-width:521px){
    .img-container{
        grid-template-columns: repeat(2,1fr);
    }
    .img-container img{
        max-width:50%;
    }
}