.img-container{
    display: grid;
    grid-gap:10px;
    margin:0 auto;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    padding: 20px;
    text-align: center;
}


table, th, td{
    border:1px solid #ccc;
}
td img{
    width:200px;
    height:200px;
    
}

input[type="button"]:disabled {
    background-color: #ccc; 
    cursor: not-allowed; 
}

a[href]:visited{
    color: green;
}

a[href]:hover{
    color: yellow;
}

td:first-child{
    color:blue;
}

body > #last {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: relative;
    z-index: 10;
    transition-property:background-color, color, width;
    transition-duration:1s;
    transition-delay:1s;
}
nav {
    background-color: #f4f4f4;
    padding: 1rem;
}
nav a {
    color: white; 
    font-weight: bold; 
    transition: color 0.3s; 
}

a {
    text-decoration: none;
    margin-right: 1rem;
}

body> #last:hover{
    background-color:blue;
}

.TEXT{
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
h1{
  font-family:"Roboto", sans-serif;
  font-size:30px;
  font-weight:800;
  font-style:italic;
  color:blueviolet;
  margin: 20px; 
  padding: 10px; 
  border: 1px solid #ccc; 
  width: auto; 
  height: auto; 
  box-sizing: border-box;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  background-image: url('./Gamma.png');
  background-size: 60px;
  background-repeat: no-repeat;
  
}

@media only screen and (max-width: 520px) {
    .img-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* 휴대폰 화면에서 3개의 열로 배치 */
    }
    .img-container img {
        max-width: 50%; /* 이미지 너비를 최대 크기로 설정 */
        height: auto; /* 이미지 높이를 자동으로 조정 */
    }
    .container {
        padding: 20px;
    }
    table tr{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 521px) {
    .container {
        padding: 20px;
    }
    .img-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;

    }
    .img-container img {
        max-width: 70%; /* 이미지 너비를 최대 크기로 설정 */
        height: auto; /* 이미지 높이를 자동으로 조정 */
    }
}